$hover-color: #2196f3;
$fon-word-color: #ffffff;
$most-word-color: #212121;
$text-description-color: #757575;
$icons-color: #AFB1B8;
$bg-text-whatwedo-color: rgba(47, 48, 58, 0.8);
$btn-fon-color: #F5F4FA;
$portfolio-img-color: rgba(33, 150, 243, 0.9);
$fon-modal-window: rgba(0, 0, 0, 0.2);
  