.whatwedo-container {
  padding-bottom: 94px;
  padding-top: 94px;
}


.whatwedo{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $most-word-color;
  text-align: center;
  &-menu {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;

    width: 100%;
  color: $fon-word-color;

  background: $bg-text-whatwedo-color;

  transform: translateY(-75px);
  &-menu{

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $most-word-color;
  text-transform: uppercase;
 
}
}
}
.whatwedo-list{
    display: flex;
    margin-top: 50px;
    &-item{
        width: calc(100% - 60px / 3);

        .whatwedo-list & + & {
            margin-left: 30px;
          }
      }
      &-img{
          display: block;
      }
      

}